*{
    transition: height 0.5s, background-color 1s, opacity 0.5s;
}

body{
    font-family:sans-serif;
    max-width:100%;
    overflow: hidden;
    overflow-y: auto;
    }

    main.container{
        margin: auto;
    max-width: 650px;
    }

header{ 
    padding: 10px; 
    background:white;
}

.hover-opacity-one:hover{
    opacity:1;
}

header nav {
    position:absolute;
    top:0;
    right:0;
    padding:10px;
}

header h1 {

color:black;
width:100%;
margin:0px;
padding:0px;
}

header p {
    margin:1px;
}


footer {
    border: 0px;
    border-top:5px;
    border-color:black;
    border-style:solid;
    text-align: center;
    bottom:0;
    left:0;
    padding:10px;
    margin-top:10px;
}



section.logo-container{
    color:black;
    text-shadow:2px 2px white;
    width:100%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center; 
    height:500px;
}

section.services{
    padding: 10px;
    opacity:0.99;
    background:white;
}

section.services ul {
    padding:20px;
}

section.services ul li{
    list-style-type:square;
    list-style-position:outside;
}

#logo {
    width: fit-content;
    opacity:0;
    visibility: hidden;
    cursor:crosshair;
}

small{
    font-size:50%;
}

.video-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

video#minisVideo {
position:fixed;
top: 0;
left:0;
top: -50%;
left: -50%;
min-height:150%;
min-width:150%;
z-index:-5;
opacity:0.5;
}

button#regenerate-site{
    padding:5px;
}

button#regenerate-site a{
    text-decoration:none;
    font-size:0.1px;
}

.gethot span{padding:3px;}

@keyframes gethotbg {
    25%  {background-color:pink;}
    35%  {background-color:orange;}
    45%  {background-color: hotpink;}
    60% {background-color: tomato;}
    100% {background-color: red;}

  }
  
  .gethot:hover span{
    color: black;
    background-color:inherit;
    animation-name: gethotbg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes gethotborder {
    25%  {border-color:pink;}
    35%  {border-color:orange;}
    45%  {border-color: hotpink;}
    60% {border-color: tomato;}
    100% {border-color: red;}

  }
  
  .gethot:hover{
    cursor:pointer;
    animation-name: gethotborder;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
