body{
    font-family:sans-serif;
    max-width:100%;
    overflow: hidden;
    overflow-y: auto;
    }

header{ 
    padding: 10px; 
    background:white;
    opacity:0.8;
}

header nav {
    position:absolute;
    top:0;
    right:0;
    padding:10px;
}

header h1 {

color:black;
width:100%;
margin:0px;
padding:0px;
}

header p {
    margin:1px;
    padding:2px;
}


footer {
    text-align: center;
    bottom:0;
    left:0;
    padding:3px;
    margin-top:10px;
}

section.logo-container{
    color:black;
    text-shadow:2px 2px white;
    width:100%;
    font-weight: 900;
}

section.services{
    padding: 10px;
    opacity:0.8;
    background:white;
}

section.services ul li{
    list-style-type:circle;
}

pre#logo {
    width: fit-content;
    position:fixed;
    z-index:-2;
    visibility: hidden;
}

small{
    font-size:50%;
}

video#minisVideo {
    min-height: 100%;
    min-width: 100%;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
}